<!DOCTYPE html>
<html>
	<head>
		<title>NodeGame - Changelog and Patch Notes</title>
	</head>
	<body>
		<p id="notes">
			<section>Version - 0.0.1</section>
				&nbsp; # No CSRF authentication <br>
				&nbsp; # Login <br>
				&nbsp; # Register <br>
				&nbsp; # Color Picker <br>
				&nbsp; # Unaccurate click to draw <br>

			<br>

			<section>Version - 0.0.2</section>
				&nbsp; # No CSRF authentication <br>
				&nbsp; # Full screen canvas <br>
				&nbsp; # M-x to logout <br>
				&nbsp; # Socket.io server <br>

			<br>

			<section>Version - 0.0.3 (Things are starting to work how they are intended)</section>
				&nbsp; # No CSRF authentications still <br>
				&nbsp; # M-x to logout <br>
				&nbsp; # Tile data handled in JSON file <br>
				&nbsp; # Reading JSON file on server <br>
				&nbsp; # Socket.io server <br>
				&nbsp; # Sending map data to client <br>
				&nbsp; # Client can successfully receive and make use of map data <br>
				&nbsp; # Client can parse map data, and render the tiles accordingly <br>
				&nbsp; # 10000 colored (not textured) tiles rendered with minimal lag <br>
				&nbsp; # Only rendering tiles that the player can see <br>

				<br>

			<section>Version - 0.0.3.1 (Compadre Release)</section>
				&nbsp; # No CSRF authentications still <br>
				&nbsp; # M-x to logout <br>
				&nbsp; # Tile data handled in JSON file <br>
				&nbsp; # Reading JSON file on server <br>
				&nbsp; # Socket.io server <br>
				&nbsp; # Sending map data to client <br>
				&nbsp; # Client can successfully receive and make use of map data <br>
				&nbsp; # Client can parse map data, and render the tiles accordingly <br>
				&nbsp; # A screen worth (textured) tiles rendered with minimal lag <br>
				&nbsp; # Only rendering tiles that the player can see <br>

				<br>

			<section>Version - 0.0.3.2 (Compadre's Madre Release)</section>
				&nbsp; # CSRF<br>
				&nbsp; # M-x to logout <br>
				&nbsp; # Tile data handled in JSON file <br>
				&nbsp; # Reading JSON file on server <br>
				&nbsp; # Socket.io server <br>
				&nbsp; # Sending map data to client <br>
				&nbsp; # Client can successfully receive and make use of map data <br>
				&nbsp; # Client can parse map data, and render the tiles accordingly <br>
				&nbsp; # A screen worth (textured) tiles rendered with minimal lag <br>
				&nbsp; # Only rendering tiles that the player can see <br>

			<section>Version - 0.0.4.0</section>
				&nbsp; # CSRF fix<br>
				&nbsp; # All players can unit non-united tiles<br>
				&nbsp; # Can clear all units<br>
				&nbsp; # Selector for hover over united tile<br>
				&nbsp; # New united tiles pushed to map data<br>
				&nbsp; # Map push scheduling stub created<br>
				&nbsp; # Fixed ES7 compatibility error with most browsers (switched from ES7 to compatible client-side classing)<br>
				&nbsp; # Investigating performance issue when uniting tiles on client<br>
		</p>
	</body>
</html>