<!DOCTYPE html>
<html>
	<head>
		<title>NodeGame - Terms of Service</title>
	</head>
	<body>
		<p id="notes">
			<h1>TOS Agreement</h1>
			<p>If Your Account Does Not Fall Within The Boundaries Set By The Terms Of Service, Your Account Will Be Terminated</p>
			<p>Your username should not contain sexual innuendo, vulgar phrases, racial or religious remarks, or any other slang that some may find offensive.
			Please, only use one account. More than one account per person may result in termination of all accounts and permanent IP ban.</p>
		</p>
	</body>
</html>